@model StruttureMarche.Views.IndexModel
@{
    ViewData["Title"] = "Strutture Marche - Home";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti</h1>
    <p>Questo progetto fornisce un elenco delle strutture ricettive nella regione Marche.</p>
    <p>Utilizza il sistema di ricerca per trovare le strutture in base ai tuoi criteri.</p>
</div>
