@model PrivacyModel
@{
    ViewData["Title"] = "Strutture Marche - Privacy Policy";
}

<style>
    .full-page-image {
        display: block;
        max-width: 100%;
        max-height: calc(100vh - 100px); /* Regola l'altezza in base alla dimensione della barra in alto e del footer */
        margin: 0 auto;
    }
</style>

<div>
    <img src="~/images/bsodmaker.png" class="full-page-image" alt="Privacy Policy Image" />
</div>